@import url('https://fonts.googleapis.com/css?family=Montserrat:100|Roboto+Slab:700|Roboto:500');

html, body {
    background:
        linear-gradient(
            rgba(255, 85, 15, 0.35),
            rgba(255, 85, 15, 0.35)
        ),
        url("../img/siebel.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: 0;
}
.horizontal-line {
    width: 40%;
    height: .4em;
    background-color: white;
    display: block;
    margin: 1em auto;
}


#illini-logo {
    margin: 0 auto;
    margin-top: 2em;
    display: block;
    width: 300px;
}


#landing, #footer {
background-color: #212E4F;
}
#landing {
    height: 45em;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
#landing-title, #landing-subtitle {
    display: block;
    text-align: center;
    margin: 0 auto;
}
#landing-title {
    font-size: 70px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: -30px;
    color: #E84E01;
}
#landing-subtitle {
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    color: #1471FF;
}
#footer {
    height: 10em;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
}
ul {
    list-style: none;
}



/*
ul {
    text-decoration: none;
    list-style: none;
}*/
